extends layout

block content
  section.contentBox
    h1.heading About Ben
    img(src="images/me.jpg").aboutImg
    p.aboutText  I got my start in photography naby years ago, blah blah blah blah blha nhfleaoifif jklfdkj jkfjdl; jkfd ldsljklsdjf g yhbejbbva bjk;sh bf lkeh bf suhiohbe hfio fhjdhs bjdhid. I got my start in photography naby years ago, blah blah blah blah blha nhfleaoifif jklfdkj jkfjdl; jkfd ldsljklsdjf g yhbejbbva bjk;sh bf lkeh bf suhiohbe hfio fhjdhs bjdhid I got my start in photography naby years ago, blah blah blah blah blha nhfleaoifif jklfdkj jkfjdl; jkfd ldsljklsdjf g yhbejbbva bjk;sh bf lkeh bf suhiohbe hfio fhjdhs bjdhid I got my start in photography naby years ago, blah blah blah blah blha nhfleaoifif jklfdkj jkfjdl; jkfd ldsljklsdjf g yhbejbbva bjk;sh bf lkeh bf suhiohbe hfio fhjdhs bjdhid I got my start in photography naby years ago, blah blah blah blah blha nhfleaoifif jklfdkj jkfjdl; jkfd ldsljklsdjf g yhbejbbva bjk;sh bf lkeh bf suhiohbe hfio fhjdhs bjdhid
  script(src="//code.jquery.com/jquery-1.12.0.min.js")
  script(src="javascripts/images.js")
  script(src="js/photosite.min.js")