extends layout

block content
  section.contentBox
    //- h1.heading Bennett Spears
    img(src="images/me.jpg").aboutImg
    h2 A little about me...
    p.aboutText  Born and raised in the Pacific Northwest, I've lived here my entire life. It's a great place to be as a photographer, you will find whatever you are looking for somewhere around here. For me, I love shooting just about anything, but people give me the most inspiration. Whether it be a studio portrait, or someone on the street, the challenge of getting the perfect expression that tells their story is one of my favorite things about what I do. However, That's not to say that I don't enjoy being out in the middle of nowhere to get a good landscape.
    p.aboutText In addition to work for clients, or even personal projects, I have found donating my time as a photographer to a good cause to be extremely rewarding. I am always open to hear about any opportunities to help out a charitable cause in need of photography.
  script(src="//code.jquery.com/jquery-1.12.0.min.js")
  script(src="javascripts/images.js")
  script(src="js/photosite.min.js")
