extends layout

block content
  section.contentBox
    h1.heading Contact
    section.textChunk
      h2 E-mail
      p  bennett.spears@gmail.com
    section.textChunk
      h2 For work requests
      p  To schedule a portrait or headshot, please include preferred date and time. If this is a location shoot, please include specific location.
    section.textChunk
      h2 Events
      p  For event requests, please include as many details as possible. Including date, location, duration of event, type of event and what the specific photographic requirements will be.
