extends layout

block content
  section.photos.grid.clearfix
    div.grid-sizer
    img(src="images/cam2.jpg").grid-item.thumbnail.portrait
    img(src="images/pasta-girl.jpg").grid-item.thumbnail.portrait
    img(src="images/sam.jpg").grid-item.thumbnail.other
    img(src="images/michelle.jpg").grid-item.thumbnail.portrait
    img(src="images/ricky.jpg").grid-item.thumbnail.portrait
    img(src="images/view-from-the-top.jpg").grid-item.thumbnail.other
    img(src="images/street-musician.jpg").grid-item.thumbnail.portrait
    img(src="images/boats.jpg").grid-item.thumbnail.other
    img(src="images/balloon-man.jpg").grid-item.thumbnail.portrait
    img(src="images/fish-man.jpg").grid-item.thumbnail.portrait
    img(src="images/rupert.jpg").grid-item.thumbnail.portrait
  section.slider.custom-grid.clearfix
    div.photoSlide.grid-full
      div.image
      div.sliderNav.grid-full
        div.closeButton#closeButton
          p Close

  script(src="//code.jquery.com/jquery-1.12.0.min.js")
  script(src="javascripts/masonry.js")
  script(src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.js")
  script(src="js/photosite.min.js")
