doctype html
html
  head
    title= title
    link(href='https://fonts.googleapis.com/css?family=Raleway:400,800,200|Hind' rel='stylesheet' type='text/css')
    link(rel='stylesheet' href='/css/main.css')
  body
    main  
      section.header
        h1.title Bennett Spears
        h2 Photography
        nav.nav
          ul
            li
              a(href="/")#home Home
            li
              a(href="")#portraits Portaits
            li
              a(href="")#other Other Work
            li
              a(href="/about") About
            li
              a(href="/contact") Contact
      block content
  footer.footer
    section.details
      p &copy; 2016 Bennett Spears. All rights reserved.